<div class="wrapper">
  <div class="container main">
    <div class="row">
      <!-- Coluna da imagem -->
      <div class="col-md-6 side-image">
        <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExaXNzbDE1eHlscmV6NThqM2MycmtlMnJ4NHRjMmJveDEyZG1oM3l4aCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/bsfUpZfjw8pBr2QKUg/giphy.gif" alt="Side GIF">
      </div>

      <!-- Coluna do formulário -->
      <div class="col-md-6 right">
        <div class="input-box">
          <header>Forgot Password</header>
          <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <div class="input-field">
              <input type="email" class="input" formControlName="email" placeholder="Enter your email" required>
            </div>
            <div class="input-field">
              <button type="submit" class="submit" [disabled]="forgotForm.invalid || loading">
                {{ loading ? 'Sending...' : 'Send Reset Link' }}
              </button>
            </div>
          </form>
          <div class="signin">
            <span>Remembered your password? <a routerLink="/login">Login here</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
