<head>
  <link rel="stylesheet" href="/stylesheets/header/header.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<header>
  <div class="navbar-container">
    <nav class="navbar-left">
      <a href="/dashboard">
        <i class="fas fa-tachometer-alt"></i> Dashboard
      </a>
      <a href="/restaurants/showRestaurants">
        <i class="fas fa-utensils"></i> Restaurants
      </a>
      <a href="/menus/showMenus">
        <i class="fas fa-book"></i> Menus
      </a>
      <a href="/dishes/showDishes">
        <i class="fas fa-hamburger"></i> Dishes
      </a>
      <a href="/orders/ordersHistory">
        <i class="fas fa-shopping-cart"></i> Orders history
      </a>
      <% if (user && user.role === 'Admin') { %>
        <a href="/users/showUsers">
          <i class="fas fa-users"></i> Users
        </a>
        <a href="/restaurants/pendingApproval">
          <i class="fas fa-check-circle"></i> Approve Restaurants
        </a>
        <a href="/admin/logs">
          <i class="fas fa-chart-line"></i> Logs & Statistics
        </a>
      <% } %>
    </nav>
    <nav class="navbar-right">
      <% if (user) { %>
        <a href="/profile">
          <img src="<%= user.profilePic ? '/uploads/' + user.profilePic : '/images/default-user.png' %>"
          alt="Foto de perfil" class="profile-pic"/>   
          Profile
        </a>
      <% }  %>
      <form id="logoutForm" action="/auth/logout" method="POST">
        <button type="submit" class="logout-btn">
          <i class="fas fa-sign-out-alt"></i> Logout
        </button>
      </form>
    </nav>
  </div>
</header>
<div id="loading-spinner" class="loading-spinner">
  <div class="spinner">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const loadingSpinner = document.getElementById('loading-spinner');

  // Adiciona o spinner ao clicar em links ou botões
  document.addEventListener('click', (event) => {
    const target = event.target;

    // Verifica se o elemento clicado é um link ou botão que redireciona
    if (target.tagName === 'A' || target.closest('a')) {
      const href = target.href || target.closest('a').href;

      if (href && !href.startsWith('#') && !href.startsWith('javascript:')) {
        event.preventDefault();
        loadingSpinner.classList.add('show');
        setTimeout(() => {
          window.location.href = href;
        }, 700); // Ajustar o tempo do spinner
      }
    }
  });

  // Adiciona o spinner ao enviar formulários
  document.addEventListener('submit', (event) => {
    loadingSpinner.classList.add('show');
  });

  const logoutForm = document.getElementById('logoutForm');

  logoutForm.addEventListener('submit', (event) => {
    event.preventDefault();

    Swal.fire({
      icon: 'success',
      title: 'Logout successful!',
      showConfirmButton: false,
      timer: 2000 // Exibe o alerta por 2 segundos
    }).then(() => {
      // Exibe o spinner após o alerta
      loadingSpinner.classList.add('show');
      setTimeout(() => {
        window.location.href = '/auth/logout';
      }, 1500); // Tempo do spinner antes de redirecionar
    });
  });

  // Remove o spinner ao carregar a página
  window.addEventListener('pageshow', () => {
    loadingSpinner.classList.remove('show');
  });
</script>