<div class="container">
  <div class="left-section">
    <img src="/images/Logo.jpg" alt="Logo" class="home-pic">
    <h1>Welcome to OrdEat!</h1>
    <p>Discover the best restaurants and place your orders quickly and easily.</p>
  </div>

  <div class="right-section">
    <video autoplay muted loop playsinline class="background-video">
      <source src="/videos/videoIntro.mp4" type="video/mp4">
    </video>
    <div class="content">
      <a href="/auth/login" class="cssbuttons-io-button">
        Login
        <div class="icon">
          <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
              fill="currentColor"></path>
          </svg>
        </div>
      </a>
      <a href="/auth/register" class="cssbuttons-io-button">
        Register
        <div class="icon">
          <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
              fill="currentColor"></path>
          </svg>
        </div>
      </a>

      <div class="separator"></div>

      <div class="social-buttons">
        <a href="/auth/google" class="google">
          <img src="/images/logoGoogle.png" alt="Google">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="quadrados-container">
  <div class="quadrado">Place orders in seconds, no waiting</div>
  <div class="quadrado">Fast and Simple Order Management</div>
  <div class="quadrado">View the full menu with photos and descriptions</div>
  <div class="quadrado">Menus with personalized filters</div>
  <div class="quadrado">Real-Time Order Tracking</div>
  <div class="quadrado">Order history always available</div>
</div>