<!DOCTYPE html>
<html>
  <head>
    <title>Menu</title>
    <link rel="stylesheet" href="stylesheets/index.css">
  </head>
  <body>

    <div class="header">
      <span>Bem-vindo, <%= user.name %></span>
      <a href="/auth/logout" class="btn btn-secondary">Logout</a>
    </div>

    <div class="menu">
      <h2>Menu do <%= user.role %></h2>
      <ul>
        <% if (user.role === 'manager') { %>
          <li><a href="/restaurants/submitRestaurant">Create Restaurant</a></li>
          <li><a href="/restaurants/showRestaurants">Show Restaurants</a></li>

        <% } else if (user.role === 'cliente') { %>
          <li><a href="/restaurants/showRestaurants">Show Restaurants</a></li>
        <% } %>
        <!-- Opção para ver o perfil -->
        <li><a href="/profile">Ver Perfil</a></li>
      </ul>
    </div>
  </body>
</html>
