<div class="container mt-4">
  <div *ngIf="!restaurant && !isLoading">
    <div class="alert alert-warning text-center"><h3>Restaurant Not Found</h3></div>
  </div>
  <div *ngIf="restaurant">
    <h1 class="text-center text-primary my-4 text-dark">{{ restaurant.name }}</h1>
    <div class="card mb-4">
      <div class="card-body">
        <div *ngIf="restaurant?.restaurantPic; else noImage" class="text-center mb-3">
          <img [src]="getRestaurantImageUrl(restaurant.restaurantPic)" [alt]="restaurant.name" class="restaurant-img" />
        </div>
        <ng-template #noImage>
          <p class="text-center"><em>No image available for this restaurant.</em></p>
        </ng-template>
        <p><strong>Street:</strong> {{ restaurant.address }}</p>
        <p><strong>Phone:</strong> {{ restaurant.phone }}</p>
        <p><strong>Restaurant email:</strong> {{ restaurant.restaurantEmail }}</p>
       <p><strong>Opening Hours:</strong></p>
        <div *ngIf="openingHoursKeys(restaurant.openingHours).length > 0; else noHours">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let day of openingHoursKeys(restaurant.openingHours)">
              <strong>{{ day }}:</strong>
              <ng-container *ngIf="restaurant.openingHours[day]?.closed; else openHours">
                Closed
              </ng-container>
              <ng-template #openHours>
                {{ restaurant.openingHours[day]?.start }} - {{ restaurant.openingHours[day]?.end }}
              </ng-template>
            </li>
          </ul>
        </div>
        <ng-template #noHours>
          <p><em>No opening hours available</em></p>
        </ng-template>
        <p><strong>Payment Methods:</strong></p>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let method of restaurant.paymentMethods">
            {{ method }}
          </li>
        </ul>
        <p><strong>Menus:</strong></p>
        <ul class="list-group mb-3" *ngIf="restaurant.menus && restaurant.menus.length > 0; else noMenus">
          <li class="list-group-item" *ngFor="let menu of restaurant.menus">
            {{ menu.name }}
          </li>
        </ul>
        <ng-template #noMenus>
          <p class="text-muted"><em>No menus associated with this restaurant.</em></p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
