body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}
.header {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header span {
  font-size: 18px;
}
.header a {
  color: white;
  background-color: red;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}
.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.restaurant-info {
  margin-bottom: 20px;
}
.restaurant-info label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.restaurant-info p {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  color: #555;
  margin-bottom: 15px;
}
.actions {
  text-align: center;
  margin-top: 20px;
}
.actions a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  padding: 10px 20px;
  border: 1px solid #4caf50;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}
.dish-details {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dish-details h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.dish-details p {
  font-size: 16px;
  margin-bottom: 10px;
}
.btn-back {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s;
}
