<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forneça seu Email</title>
</head>
<body>
    <h1>Forneça seu Email</h1>
    <form action="/auth/facebook/email" method="POST">
        <input type="hidden" name="facebookId" value="<%= user.facebookId %>">
        <input type="hidden" name="name" value="<%= user.name %>">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
