<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OrdEat - A sua comida em minutos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>
<body>
    <div class="container">
        
        <div class="left-section">
            <img src="/images/Logo.jpg" alt="Logo">
            <h1>Bem-vindo ao OrdEat!</h1>
            <p>Descubra os melhores restaurantes e faça suas encomendas de forma rápida e fácil.</p>
        </div>

        <div class="right-section">
            <video autoplay muted loop playsinline class="background-video">
                <source src="/videos/videoIntro.mp4" type="video/mp4">
            </video>
            <div class="content">
                <a href="/auth/login" class="cssbuttons-io-button">
                    Login
                    <div class="icon">
                        <svg
                            height="24"
                            width="24"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                                fill="currentColor"
                            ></path>
                        </svg>
                    </div>
                </a>
                <a href="/auth/register" class="cssbuttons-io-button">
                    Registar
                    <div class="icon">
                        <svg
                            height="24"
                            width="24"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                                fill="currentColor"
                            ></path>
                        </svg>
                    </div>
                </a>
                
                <div class="separator"></div>

                <div class="social-buttons">
                    <a href="/auth/google" class="google">
                        <img src="/images/logoGoogle.png" alt="Google">
                    </a>
                    <a href="/auth/facebook" class="facebook">
                        <img src="/images/logoFacebook.png" alt="Facebook">
                    </a>
                </div>
            
            </div>
        </div>
    </div>

    <div class="quadrados-container">
        <div class="quadrado">Fazer encomendas em segundos, sem esperas</div>
        <div class="quadrado">Gestão Simples e Rápida de Pedidos</div>
        <div class="quadrado">Ver o menu completo com fotos e descrições</div>
        <div class="quadrado">Menus com filtros personalizados</div>
        <div class="quadrado">Acompanhamento em Tempo Real</div>
        <div class="quadrado">Histórico de pedidos sempre disponível</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
