body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

.header {
  background-color: #ffffff;
  padding: 16px 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  margin: 0;
  font-weight: 600;
  color: #333;
  font-size: 22px;
}

.header .logout-btn {
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease;
}

.header .logout-btn:hover {
  color: #6c63ff;
}


.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

label {
  font-weight: 500;
}

input[type="text"],
input[type="number"],
textarea,
select {
  border-radius: 10px !important;
}

.input-group-text {
  border-radius: 10px 0 0 10px !important;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn-primary {
  background-color: #6c63ff;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.75rem;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #5a52e8;
}

.btn-secondary {
  background-color: #838383;
  color: #ffffff;
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.75rem;
  text-align: center;
}


.btn-secondary:hover {
  background-color: #4a4a4a;
}