<div class="dashboard-main-wrapper">
  <div class="dashboard-flex">
    <div class="dashboard-graphs">
      <ng-container *ngIf="role === 'Manager'">
      <div class="chart-container big-chart">
        <h2 class="chart-title">Orders Overview</h2>
        <canvas id="ordersGraph" width="350" height="350" style="max-width: 100%; max-height: 250px;"></canvas>
      </div>
      </ng-container>
      <ng-container *ngIf="role === 'Admin'">
      <div class="chart-container big-chart">
        <h2 class="chart-title" >General Overview</h2>
        <canvas id="generalGraph"></canvas>
      </div>
        <div class="chart-container big-chart">
        <h2 class="chart-title">Registered Users</h2>
        <canvas id="clientsGraph"></canvas>
      </div>
      </ng-container>
    </div>
    <div class="manager-menu big-menu">
      <h2>{{ role }} menu</h2>
      <div class="menu-buttons">
        <a *ngIf="role === 'Manager' || role === 'Admin'" (click)="navigateToRestaurants()" class="menu-btn" style="cursor: pointer;">
          <i class="fas fa-store"></i> Show restaurants
        </a>
        <a *ngIf="role === 'Admin'" (click)="navigateToRestaurantApproval()" class="menu-btn" style="cursor: pointer;">
          <i class="fas fa-check-circle"></i> Approve restaurants
        </a>
        <a *ngIf="role === 'Manager' || role === 'Admin'" (click)="navigateToMenu()" class="menu-btn" style="cursor: pointer;">
          <i class="fas fa-book-open"></i> Show menus
        </a>
        <a *ngIf="role === 'Manager' || role === 'Admin'" (click)="navigateToDishes()" class="menu-btn" style="cursor: pointer;">
          <i class="fas fa-list-ol"></i> Show Dishes
        </a>
        <a *ngIf="role === 'Admin'" (click)="navigateToUsers()" class="menu-btn" style="cursor: pointer;">
          <i class="fas fa-users"></i> Show users
        </a>
        <a *ngIf="role === 'Admin'" (click)="navigateToLogs()" class="menu-btn" style="cursor: pointer;">
          <i class="fas fa-chart-line"></i> View Logs & Statistics
        </a>
      </div>
    </div>
  </div>
</div>