<div class="dashboard-main-wrapper">
  <div class="dashboard-flex">
    <div class="dashboard-graphs">
      <div class="chart-container big-chart">
        <h2 class="chart-title" >General Overview</h2>
        <canvas id="generalGraph"></canvas>
      </div>
      <ng-container *ngIf="role === 'Admin'">
        <div class="chart-container big-chart">
        <h2 class="chart-title">Registered Users</h2>
        <canvas id="clientsGraph"></canvas>
      </div>
      </ng-container>
    </div>
    <div class="manager-menu big-menu">
      <h2>{{ role }} menu</h2>
      <div class="menu-buttons">
        <a *ngIf="role === 'Manager' || role === 'Admin' || role === 'Client'" (click)="navigateToRestaurants()" class="menu-btn">
          <i class="fas fa-store"></i> Show restaurants
        </a>
        <a *ngIf="role === 'Admin'" (click)="navigateToRestaurantApproval()" class="menu-btn">
          <i class="fas fa-check-circle"></i> Approve restaurants
        </a>
        <a *ngIf="role === 'Manager' || role === 'Admin'" (click)="navigateToMenu()" class="menu-btn">
          <i class="fas fa-book-open"></i> Show menus
        </a>
        <a *ngIf="role === 'Manager' || role === 'Admin'" (click)="navigateToDishes()" class="menu-btn">
          <i class="fas fa-list-ol"></i> Show Dishes
        </a>
        <a *ngIf="role === 'Admin'" (click)="navigateToUsers()" class="menu-btn">
          <i class="fas fa-users"></i> Show users
        </a>
        <a *ngIf="role === 'Admin'" (click)="navigateToLogs()" class="menu-btn">
          <i class="fas fa-chart-line"></i> View Logs & Statistics
        </a>
        <a *ngIf="role === 'Admin'" (click)="navigateToOrders()" class="menu-btn">
          <i class="fas fa-shopping-cart"></i> Orders history
        </a>
      </div>
    </div>
  </div>
</div>