.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(white); /* Tons de azul e cinza */
  font-family: 'Arial', sans-serif;
}

.register-card {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.register-card h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #6c63ff; /* Azul suave */
  outline: none;
}

.role-button {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #6c63ff; /* Azul suave */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.role-button:hover {
  background-color: #574b90; /* Azul mais escuro */
}

.role-selection {
  margin: 20px 0;
  text-align: left;
}

.role-selection label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.register-button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #6c63ff; /* Azul suave */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #574b90; /* Azul mais escuro */
}