<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/showRestaurants.css">
    <title>Lista de Restaurantes</title>
</head>
<body>
    <div class="header">
        <span>Lista de Restaurantes</span>
        <a href="/auth/logout">Logout</a>
    </div>

    <div class="container">
        <% if (restaurants.length == 0) { %>
            <div class="no-data">
                <h1>Não foram encontrados restaurantes</h1>
            </div>
        <% } else { %>
            <h1>Restaurantes Disponíveis</h1>
            <% restaurants.forEach(function(restaurant) { %>
                <div class="restaurant">
                    <label>Nome:</label>
                    <p><%= restaurant.name %></p>
                    <label>Rua:</label>
                    <p><%= restaurant.address %></p>
                    <a href="/restaurants/showRestaurant/<%= restaurant.name %>">Ver Detalhes</a>
                    <% if (user.role === 'manager') { %>
                    <a href="/restaurants/deleteRestaurant/<%= restaurant.name %>">Eliminar</a>
                    <% } %>
                </div>
            <% }) %>
        <% } %>
    </div>
    <a href="/index" class="btn-back">Voltar à Página Principal</a>
</body>
</html>