<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/showRestaurant.css">
    <title>Restaurant Details</title>
<body>
    <div class="header">
        <span>Restaurant Details</span>
        <a href="/auth/logout">Logout</a>
    </div>

    <div class="container">
        <h1>Restaurant: <%= restaurant.name %></h1>
        <div class="restaurant-info">
            <label>Descrição:</label>
            <p><%= restaurant.description %></p>
        </div>
        <div class="restaurant-info">
            <label>Localização:</label>
            <p><%= restaurant.address %></p>
        </div>
        <div class="restaurant-info">
            <label>Contacto:</label>
            <p><%= restaurant.contact %></p>
        </div>

        <div class="actions">
            <a href="/restaurants/showRestaurants">Back to Restaurant List</a>
        </div>
    </div>
</body>
</html>