<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/submitRestaurant.css">
    <title>Insert Car</title>
</head>
<body>
    <h1>Insert Car</h1>
    <form method="post" action="/restaurants/submittedRestaurant">
        <label for="name">Restaurant Name:</label>
        <input type="text" name="name" id="f_name" required>

        <label for="description">Descrição:</label>
        <input type="text" name="description" id="f_description" required>

        <label for="address">Localização:</label>
        <input type="text" name="address" id="f_address" required>

        <label for="contact">Contacto:</label>
        <input type="text" name="contact" id="f_contact" required>

        <input type="submit" value="Criar Restaurante">
    </form>
</body>
</html>